<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <form class="devbook-form" id="formulario-cadastro">
            <span>Seja bem vindo ao DevBook!</span>
            <div>
                <input type="text" name="nome" id="nome" placeholder="Digita seu nome" required="required">
            </div>
            <div>
                <input type="text" name="email" id="email" placeholder="Digita seu e-mail" required="required">
            </div>
            <div>
                <input type="text" name="nick" id="nick" placeholder="Digita seu nick" required="required">
            </div>
            <div>
                <input type="password" name="password" id="senha" placeholder="Digita sua senha" required="required">
            </div>
            <div>
                <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha" required="required">
            </div>
            <a href="/login"> Clique aqui fazer login </a>
            <button type="submit" class="btn-devbook">Cadastrar</button>
        </form>
    </div>
    <h2>Página de Login!</h2>
</body>
</html>